*{
    margin: 0;
    padding: 0;
}


#caixa{
    display: flex;
    width: 260px;
    height: 500px;
    background-color: orange;
    margin: auto;
    position: relative;
    top: 30px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 1px 1px #fff;

}

input{
    border: none;
    width: 200px;
    border-radius: 20px;
    background-color: #f6f6f6;
    cursor: pointer;
    justify-content: center;
    padding-left: 10px;
}

#titulo{
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    
}


.label{
    padding-left: 10px;
    font-size: 20px;
    color: aliceblue;
    text-shadow: 1px 1px 1px #000;
}
div{
    margin-bottom: 10px;

}

button{
    border: none;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}


#resposta{
    text-align: center;
    font-size: 15px;
}

div{
    margin-bottom: 30px;
}